<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/blog/edit" method="post" th:object="${blog}">
    <table>
        <tr><td><input type="hidden" th:field="*{id}"/></td></tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>