<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/blog}">
        back to list
    </a>
</p>


<table>
    <tr>
        <td><label >Name</label></td>
        <td> <label th:text="${blog.name}"></label></td>
    </tr>
    <tr>
        <td><label >Price</label></td>
        <td> <label th:text="${blog.content}"></label></td>
    </tr>

</table>

<footer th:replace="blog/layout :: footer"></footer>
</body>
</html>